* {
	margin: 0px;	
	padding: 0px;	
}
#home_header{
	position:absolute;
	top:40px;
	left:365px;
	color: black;
	font-size: 65px;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;}
#asCust{
	position:absolute;
	top:150px;
	left:500px;
	color: blue;
	font-size: 20px;
}
#chpwd{
	position:absolute;
	top:200px;
	left:800px;
	color: black;
	font-size: 20px; }
#logout{
	position:absolute;
	top:200px;
	left:1000px;
	color: black;
	font-size: 20px; }
#updateinfo{
	position:absolute;
	top:270px;
	left:350px;
	width: 200px;
    	height: 60px;
	background:cyan;
	border-radius: 20px;
	border: none;
	color: black;
	font-size: 20px;    	}
#search{
	position:absolute;
	top:270px;
	left:700px;
	width: 200px;
    	height: 60px;
	background:cyan;
	border-radius: 20px;
	border: none;
	color: black;
	font-size: 20px;}
#viewIssuedBooks{
	position:absolute;
	top:370px;
	left:350px;
	width: 200px;
    	height: 60px;
	background:cyan;
	border-radius: 20px;
	border: none;
	color: black;
	font-size: 20px;}
#fine{
	position:absolute;
	top:370px;
	left:700px;
	width: 200px;
    	height: 60px;
	background:cyan;
	border-radius: 20px;
	border: none;
	color: black;
	font-size: 20px;}

