* {
	margin: 0px;	
	padding: 0px;	
}

#login_header{
	position:absolute;
	top:50px;
	left:500px;
	color: black;
	font-size: 100px;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}

#adminLink{
	position:absolute;
	top:150px;
	left:985px;
	color: black;
	font-size: 20px;    	


}
#error{
	position:absolute;
	top:500px;
	left:435px;
	height: 70px;
	width: 50%;
	padding:  10px;
	font-size: 25px;
	color:red;
}

#u{

	position:absolute;
	top:240px;
	left:435px;
	height: 70px;
	width: 30%;
	padding:  10px;
	font-size: 25px;
	color:black;

}

#username{
	position:absolute;
	top:285px;
	left:435px;
	height: 30px;
	width: 30%;
	padding:  5px;
	font-size: 15px;
	color:black;
	background: white;
	border-radius: 5px;
	border: none;
}

#p{	
	position:absolute;
	top:335px;
	left:435px;
	height: 70px;
	width: 30%;
	padding:  10px;
	font-size: 25px;
	color:black;	

}
#password{
	position:absolute;
	top:380px;
	left:435px;
	height: 30px;
	width: 30%;
	padding: 5px;
	font-size: 15px;
	color:black;
	background: white;
	border-radius: 5px;
	border: none;}


#login{
	position :absolute;
	top:435px;
	left:500px;
	width: 200px;
    	height: 50px;
	background:cyan;
	border-radius: 20px;
	border: none;
	color: black;
	font-size: 20px; 

}

#RegLink{
	position:absolute;
	top:600px;
	left:460px;
	color: black;
	font-size: 20px;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;

}
